<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<!--<script>-->
    <!--var b;-->
    <!--var instance = axios.create({-->
        <!--baseURL: 'http://127.0.0.1:8080',-->
        <!--timeout: 10000,-->
        <!--withCredentials: true-->
    <!--});-->

    <!--//发起请求-->
    <!--function Test() {-->
        <!--// axios.get('/users/', {-->
        <!--//     params: {-->
        <!--//         ID: 12345-->
        <!--//     }-->
        <!--// })-->
        <!--//     .then(function (response) {-->
        <!--//         console.log(response.data);-->
        <!--//     })-->
        <!--//     .catch(function (error) {-->
        <!--//         console.log(error);-->
        <!--//     });-->
        <!--instance.post('/users/', {-->
            <!--firstName: 'Fred',-->
            <!--lastName: 'Flintstone'-->
        <!--})-->
            <!--.then(function (response) {-->
                <!--console.log(response.data);-->
            <!--})-->
            <!--.catch(function (error) {-->
                <!--console.log(error);-->
            <!--});-->

    <!--}-->

<!--</script>-->
<body>
<!--<button type="button" onclick="Test()">test</button>-->
index
</body>
</html>